# Import des libraires

In [1]:
import json
import warnings
from pathlib import Path

#!pip install modin
#import modin.pandas as pd
import pandas as pd

!pip install plotly
import plotly.io as pio

!pip install pandas_profiling
from pandas_profiling import ProfileReport

from tqdm import tqdm

warnings.filterwarnings("ignore", category=UserWarning)
warnings.filterwarnings("ignore", category=FutureWarning)


pio.renderers.default = "notebook"


pd.options.plotting.backend = "plotly"

Collecting plotly
  Downloading plotly-5.11.0-py2.py3-none-any.whl (15.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 72.9 MB/s eta 0:00:0000:0100:01
Collecting tenacity>=6.2.0
  Downloading tenacity-8.1.0-py3-none-any.whl (23 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.11.0 tenacity-8.1.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Collecting pandas_profiling
  Downloading pandas_profiling-3.6.2-py2.py3-none-any.whl (328 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 328.7/328.7 kB 39.6 MB/s eta 0:00:00
Collecting htmlmin==0.1.12
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (3.1.2)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (0.11.2)
Requirement already satisfied: matplotlib<3.7,>=3.2 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (3.5.2)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (1.4.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (5.4.1)
Collecting visions[type_image_path]==0.7.5
  Downloading visions-0.7.5-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.7/102.7 kB 28.9 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (1.23.1)
Collecting phik<0.13,>=0.11.1
  Downloading phik-0.12.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (679 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 679.8/679.8 kB 73.6 MB/s eta 0:00:00
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (4.64.0)
Collecting statsmodels<0.14,>=0.13.2
  Downloading statsmodels-0.13.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 91.5 MB/s eta 0:00:00:00:0100:01
Collecting typeguard<2.14,>=2.13.2
  Downloading typeguard-2.13.3-py3-none-any.whl (17 kB)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (1.9.1)
Collecting multimethod<1.10,>=1.4
  Downloading multimethod-1.9.1-py3-none-any.whl (10 kB)
Requirement already satisfied: scipy<1.10,>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (1.8.1)
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.9/dist-packages (from pandas_profiling) (2.28.1)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.9/dist-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (2.8.4)
Collecting attrs>=19.3.0
  Downloading attrs-22.2.0-py3-none-any.whl (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.0/60.0 kB 21.0 MB/s eta 0:00:00
Collecting tangled-up-in-unicode>=0.0.4
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 91.0 MB/s eta 0:00:00:00:01
Requirement already satisfied: Pillow in /usr/local/lib/python3.9/dist-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (9.2.0)
Collecting imagehash
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 58.2 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2<3.2,>=2.11.1->pandas_profiling) (2.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (1.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (4.34.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas!=1.4.0,<1.6,>1.1->pandas_profiling) (2022.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.9/dist-packages (from phik<0.13,>=0.11.1->pandas_profiling) (1.1.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from pydantic<1.11,>=1.8.1->pandas_profiling) (4.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3/dist-packages (from requests<2.29,>=2.24.0->pandas_profiling) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/lib/python3/dist-packages (from requests<2.29,>=2.24.0->pandas_profiling) (2019.11.28)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<2.29,>=2.24.0->pandas_profiling) (1.26.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.9/dist-packages (from requests<2.29,>=2.24.0->pandas_profiling) (2.1.0)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.8/233.8 kB 48.9 MB/s eta 0:00:00
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->pandas_profiling) (1.14.0)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.9/dist-packages (from imagehash->visions[type_image_path]==0.7.5->pandas_profiling) (1.3.0)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27079 sha256=2af4b6615efc40f34819eda94a95905c21a2a6261fc647c18057f11d3db92183
  Stored in directory: /root/.cache/pip/wheels/1d/05/04/c6d7d3b66539d9e659ac6dfe81e2d0fd4c1a8316cc5a403300
Successfully built htmlmin
Installing collected packages: htmlmin, typeguard, tangled-up-in-unicode, patsy, multimethod, attrs, imagehash, visions, statsmodels, phik, pandas_profiling
  Attempting uninstall: attrs
    Found existing installation: attrs 18.2.0
    Uninstalling attrs-18.2.0:
      Successfully uninstalled attrs-18.2.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
gradient 2.0.5 requires attrs<=19, but you have attrs 22.2.0 which is incompatible.
Successfully installed attrs-22.2.0 htmlmin-0.1.12 imagehash-4.3.1 multimethod-1.9.1 pandas_profiling-3.6.2 patsy-0.5.3 phik-0.12.3 statsmodels-0.13.5 tangled-up-in-unicode-0.2.0 typeguard-2.13.3 visions-0.7.5
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# Chargement du fichier

In [2]:
# Set constants
DATA_PATH = Path("/storage/P10/")
FRAMES_PATH = Path(DATA_PATH, "frames.json")

## Load the dataset in a Pandas Dataframe (in memory)

raw_data = pd.read_json(FRAMES_PATH)

raw_data.describe(include="all")

,user_id,turns,wizard_id,id,labels
count,1369,1369,1369,1369,1369
unique,11,1369,12,1369,16
top,U22K1SX9N,[{'text': 'I'd like to book a trip to Atlantis...,U21T9NMKM,e2c0fc6c-2134-4891-8353-ef16d8412c9a,"{'userSurveyRating': 5.0, 'wizardSurveyTaskSuc..."
freq,345,1,301,1,929

In [3]:
frames = raw_data[["id", "wizard_id", "user_id"]]
frames[["userSurveyRating", "wizardSurveyTaskSuccessful"]] = [
    [x["userSurveyRating"], x["wizardSurveyTaskSuccessful"]]
    for x in raw_data.labels
]
frames = frames.astype(
    {"userSurveyRating": "float", "wizardSurveyTaskSuccessful": "bool"}
)
frames.describe(include="all")

/tmp/ipykernel_94/4178859692.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,id,wizard_id,user_id,userSurveyRating,wizardSurveyTaskSuccessful
count,1369,1369,1369,1366.000000,1369
unique,1369,12,11,NaN,2
top,e2c0fc6c-2134-4891-8353-ef16d8412c9a,U21T9NMKM,U22K1SX9N,NaN,True
freq,1,301,345,NaN,1287
mean,NaN,NaN,NaN,4.573419,NaN
std,NaN,NaN,NaN,0.839596,NaN
min,NaN,NaN,NaN,1.000000,NaN
25%,NaN,NaN,NaN,4.000000,NaN
50%,NaN,NaN,NaN,5.000000,NaN
75%,NaN,NaN,NaN,5.000000,NaN
max,NaN,NaN,NaN,5.000000,NaN

In [4]:
j = 0
for turn in raw_data["turns"]:
    j += 1
    if j> 5:
        break
    print()
    print("XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX")
    print()

    known_facts = {}
    for i, frame in enumerate(turn):
        print(f'{i} - { frame["author"] } says : \n"{ frame["text"] }"')

        known_facts.update(
            {
                info_key: info[-1]["val"] if not info[-1]["negated"] else None
                for f in frame["labels"]["frames"]
                for info_key, info in f["info"].items()
            }
        )

        print(f"Known facts : \n{known_facts}")
        print()

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

0 - user says :
"I'd like to book a trip to Atlantis from Caprica on Saturday, August 13, 2016 for 8 adults. I have a tight budget of 1700."
Known facts :
{'intent': 'book', 'budget': '1700.0', 'dst_city': 'Atlantis', 'or_city': 'Caprica', 'str_date': 'august 13', 'n_adults': '8'}

1 - wizard says :
"Hi...I checked a few options for you, and unfortunately, we do not currently have any trips that meet this criteria.  Would you like to book an alternate travel option?"
Known facts :
{'intent': 'book', 'budget': '1700.0', 'dst_city': 'Atlantis', 'or_city': 'Caprica', 'str_date': 'august 13', 'n_adults': '8', 'NO_RESULT': True}

2 - user says :
"Yes, how about going to Neverland from Caprica on August 13, 2016 for 5 adults. For this trip, my budget would be 1900."
Known facts :
{'intent': 'book', 'budget': '1900.0', 'dst_city': 'Neverland', 'or_city': 'Caprica', 'str_date': 'august 13', 'n_adults': '5', 'NO_RESULT': True}

3 - wizard says :
"I checked the availability for this date and there were no trips available.  Would you like to select some alternate dates?"
Known facts :
{'intent': 'book', 'budget': '1900.0', 'dst_city': 'Neverland', 'or_city': 'Caprica', 'str_date': 'august 13', 'n_adults': '5', 'NO_RESULT': True}

4 - user says :
"I have no flexibility for dates... but I can leave from Atlantis rather than Caprica. How about that?"
Known facts :
{'intent': 'book', 'budget': '1700.0', 'dst_city': 'Atlantis', 'or_city': 'Atlantis', 'str_date': 'august 13', 'n_adults': '8', 'NO_RESULT': True, 'flex': False}

5 - wizard says :
"I checked the availability for that date and there were no trips available.  Would you like to select some alternate dates?"
Known facts :
{'intent': 'book', 'budget': '1700.0', 'dst_city': 'Atlantis', 'or_city': 'Atlantis', 'str_date': 'august 13', 'n_adults': '8', 'NO_RESULT': True, 'flex': False}

6 - user says :
"I suppose I'll speak with my husband to see if we can choose other dates, and then I'll come back to you.Thanks for your help"
Known facts :
{'intent': 'book', 'budget': '1700.0', 'dst_city': 'Atlantis', 'or_city': 'Atlantis', 'str_date': 'august 13', 'n_adults': '8', 'NO_RESULT': True, 'flex': False}


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

0 - user says :
"Hello, I am looking to book a vacation from Gotham City to Mos Eisley for $2100."
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Mos Eisley', 'budget': '2100.0'}

1 - wizard says :
"Hi. Sorry, I can't find any trips from Gotham City to Mos Eisley for you."
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True}

2 - user says :
"What about a trip from Gotham City to Neverland for the same budget?"
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Neverland', 'budget': '2100.0', 'NO_RESULT': True}

3 - wizard says :
"Sorry, I cannot find any trips leaving from Gotham City. Could you suggest another nearby departure city?"
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Neverland', 'budget': '2100.0', 'NO_RESULT': True}

4 - user says :
"Would any packages to Mos Eisley be available if I increase my budget to $2500?"
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Mos Eisley', 'budget': '2500.0', 'NO_RESULT': True}

5 - wizard says :
"There are no trips available to Mos Eisley."
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Mos Eisley', 'budget': '2500.0', 'NO_RESULT': True}

6 - user says :
"You know what, I'd like to try and visit Neverland"
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Neverland', 'budget': '2100.0', 'NO_RESULT': True}

7 - wizard says :
"I cannot find any trips available to Neverland."
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Neverland', 'budget': '2100.0', 'NO_RESULT': True}

8 - user says :
"Do you have any trips from Gotham City to Kobe for my original budget of $2100?"
Known facts :
{'intent': 'book', 'or_city': 'Gotham City', 'dst_city': 'Kobe', 'budget': '2100.0', 'NO_RESULT': True}

9 - wizard says :
"I can book you a 3 day trip to Kobe leaving from Sapporo, Japan. Is this ok?"
Known facts :
{'intent': 'book', 'or_city': 'Sapporo, Japan', 'dst_city': 'Kobe', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3'}

10 - user says :
"No, that's too far for me. I need a flight that leaves from Birmingham."
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3'}

11 - wizard says :
"I can book you a trip from Birmingham to Kobe for 2747.8 USD."
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Kobe', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3', 'price': '2747.8'}

12 - user says :
"How many days would I be in Kobe?"
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Kobe', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3', 'price': '2747.8'}

13 - wizard says :
"You would arrive in Kobe August 17th and return to Birmingham on August 22nd."
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Kobe', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3', 'price': '2747.8', 'str_date': 'august 17', 'end_date': 'august 22'}

14 - user says :
"What would the price be if I shortened my trip by one day?"
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3', 'price': '2747.8', 'str_date': 'august 17', 'end_date': 'august 22', 'max_duration': '1'}

15 - wizard says :
"I can not find any trips from Birmingham to Kobe for 4 days."
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3', 'price': '2747.8', 'str_date': 'august 17', 'end_date': 'august 22', 'max_duration': '1'}

16 - user says :
"Ok, then I would like to purchase this package. What activities are included in this package?"
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '3', 'price': '2747.8', 'str_date': 'august 17', 'end_date': 'august 22', 'max_duration': '1'}

17 - wizard says :
"There are no activities listed for this package. You will be staying at the Ivory Legacy Hotel for 7 days. This hotel has a 4.5 star rating and free wifi. Will I go ahead and book this package?"
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '7', 'price': '2747.8', 'str_date': 'august 17', 'end_date': 'august 22', 'max_duration': '1', 'name': 'Ivory Legacy Hotel', 'amenities': '-1', 'category': '4.5', 'wifi': True}

18 - user says :
"Yes, I would like to book this package."
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '7', 'price': '2747.8', 'str_date': 'august 17', 'end_date': 'august 22', 'max_duration': '1', 'name': 'Ivory Legacy Hotel', 'amenities': '-1', 'category': '4.5', 'wifi': True}

19 - wizard says :
"Great. Your flight departs from Birmingham at 9:00 am - Wednesday, August 17th 2016. Enjoy your trip, I have booked this package for you."
Known facts :
{'intent': 'book', 'or_city': 'Birmingham', 'dst_city': 'Mos Eisley', 'budget': '2100.0', 'NO_RESULT': True, 'duration': '7', 'price': '2747.8', 'str_date': 'august 17', 'end_date': 'august 22', 'max_duration': '1', 'name': 'Ivory Legacy Hotel', 'amenities': '-1', 'category': '4.5', 'wifi': True, 'dep_time_or': '9:00 am', 'action': 'book'}


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

0 - user says :
"Hello there i am looking to go on a vacation with my family to Gotham City, can you help me?"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City'}

1 - wizard says :
"when  would you like to travel and how many people will you be?"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City'}

2 - user says :
"Not sure when we want to leave, but we are 12 kids and 5 adults"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12'}

3 - wizard says :
"do you have a budget?"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12'}

4 - user says :
"yes i do, it is around $2200"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0'}

5 - wizard says :
"where will you be travelling from?"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0'}

6 - user says :
"We are from Neverland"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Neverland'}

7 - wizard says :
"We have nothing available leaving from Neverland, are you able to depart from another city?"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Neverland', 'NO_RESULT': True}

8 - user says :
"we can depart from Toronto"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True}

9 - wizard says :
"Gotham City is not a destination we travel to. Are you interested in any other destinations?"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True}

10 - user says :
"hmm what options would i have out of Toronto?"
Known facts :
{'intent': 'book', 'dst_city': 'Gotham City', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True}

11 - wizard says :
"Would you be interested in Calgary?"
Known facts :
{'intent': 'book', 'dst_city': 'Calgary', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True}

12 - user says :
"that would be nice"
Known facts :
{'intent': 'book', 'dst_city': 'Calgary', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True}

13 - wizard says :
"I have a departure from Toronto to Calgary  on August 17 returning on August 24. Does that work for you?"
Known facts :
{'intent': 'book', 'dst_city': 'Calgary', 'str_date': 'august 17', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True, 'end_date': 'august 24'}

14 - user says :
"No sorry i was planning on getting a tan this vacation. Thanks, is there anywhere else? Thank you
is there anywhere else?"
Known facts :
{'intent': 'book', 'dst_city': 'Calgary', 'str_date': 'august 17', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True, 'end_date': 'august 24', 'REJECTED': None}

15 - wizard says :
"How about a trip to Dominican Republic? it is quite cheap at this time of year."
Known facts :
{'intent': 'book', 'dst_city': 'Dominican Republic', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True, 'end_date': 'august 24', 'REJECTED': None}

16 - user says :
"What options do you have available for me?"
Known facts :
{'intent': 'book', 'dst_city': 'Dominican Republic', 'str_date': '-1', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True, 'end_date': 'august 24', 'REJECTED': None}

17 - wizard says :
"I have the el Mar hotel available in Punta Cana this week."
Known facts :
{'intent': 'book', 'dst_city': 'Punta Cana', 'str_date': '7', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True, 'end_date': 'august 24', 'REJECTED': None, 'name': 'el Mar'}

18 - user says :
"That sounds interesting. how many stars does the hotel have?"
Known facts :
{'intent': 'book', 'dst_city': 'Punta Cana', 'str_date': '7', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Toronto', 'NO_RESULT': True, 'end_date': 'august 24', 'REJECTED': None, 'name': 'el Mar'}

19 - wizard says :
"2.5 stars. You would have to fly out of Melbourne though"
Known facts :
{'intent': 'book', 'dst_city': 'Punta Cana', 'str_date': '7', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Melbourne', 'NO_RESULT': True, 'end_date': 'august 24', 'REJECTED': None, 'name': 'el Mar', 'category': '2.5'}

20 - user says :
"Ahh...maybe another time"
Known facts :
{'intent': 'book', 'dst_city': 'Punta Cana', 'str_date': '7', 'n_adults': '5', 'n_children': '12', 'budget': '2200.0', 'or_city': 'Melbourne', 'NO_RESULT': True, 'end_date': 'august 24', 'REJECTED': None, 'name': 'el Mar', 'category': '2.5'}


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

0 - user says :
"Hi I'd like to go to Caprica from Busan, between Sunday August 21, 2016 and Wednesday August 31, 2016"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 31', 'dst_city': 'Caprica'}

1 - wizard says :
"And what would be your maximum budget for this trip?"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 31', 'dst_city': 'Caprica'}

2 - user says :
"Actually it's unlimited for this trip"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 31', 'dst_city': 'Caprica', 'budget': '-1'}

3 - wizard says :
"How many adults and how many children will be making this trip?"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 31', 'dst_city': 'Caprica', 'budget': '-1'}

4 - user says :
"2 adults"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 31', 'dst_city': 'Caprica', 'budget': '-1', 'n_adults': '2'}

5 - wizard says :
"I have no trips to Caprica from Busan.  I do have a trip to Mannheim, Germany, one to Kingston , Canada, and another to Toronto Canada.  Would you like to select alternate dates or an alternate travel destination?"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 31', 'dst_city': 'Toronto Canada', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True}

6 - user says :
"Do you have anything for San Antonio as a destination?"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 31', 'dst_city': 'San Antonio', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True}

7 - wizard says :
"Yes, I do.  I have one for 8445.37 USD.  Would you like to book this package?  The guest rating is 7.15/10 and there is free parking and free wifi.  Leaving Sunday, August 21st at 11:00 a.m. and returning Sunday, August 28th at 1:00 a.m."
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 28', 'dst_city': 'San Antonio', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True, 'arr_time_or': '1:00 a. m.', 'dep_time_or': '11:00 a.m', 'parking': True, 'price': '8445.37', 'gst_rating': '7.15', 'wifi': True}

8 - user says :
"Is breakfast included?"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 28', 'dst_city': 'San Antonio', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True, 'arr_time_or': '1:00 a. m.', 'dep_time_or': '11:00 a.m', 'parking': True, 'price': '8445.37', 'gst_rating': '7.15', 'wifi': True}

9 - wizard says :
"Yes, it is."
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 28', 'dst_city': 'San Antonio', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True, 'arr_time_or': '1:00 a. m.', 'dep_time_or': '11:00 a.m', 'parking': True, 'price': '8445.37', 'gst_rating': '7.15', 'wifi': True, 'breakfast': True}

10 - user says :
"That sounds great. 1:00 am return on Sunday August 28th is very early in the morning... "
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 28', 'dst_city': 'San Antonio', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True, 'arr_time_or': '1:00 a. m.', 'dep_time_or': '11:00 a.m', 'parking': True, 'price': '8445.37', 'gst_rating': '7.15', 'wifi': True, 'breakfast': True}

11 - wizard says :
"Would you like to book this package?"
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 28', 'dst_city': 'San Antonio', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True, 'arr_time_or': '1:00 a. m.', 'dep_time_or': '11:00 a.m', 'parking': True, 'price': '8445.37', 'gst_rating': '7.15', 'wifi': True, 'breakfast': True}

12 - user says :
"Yes I would. Thanks for your help."
Known facts :
{'str_date': 'august 21', 'intent': 'book', 'or_city': 'Busan', 'end_date': 'august 28', 'dst_city': 'San Antonio', 'budget': '-1', 'n_adults': '2', 'NO_RESULT': True, 'arr_time_or': '1:00 a. m.', 'dep_time_or': '11:00 a.m', 'parking': True, 'price': '8445.37', 'gst_rating': '7.15', 'wifi': True, 'breakfast': True, 'action': 'book'}


XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

0 - user says :
"Hello, I am looking to book a trip for 2 adults and 6 children for $21,300 or less. We are departing from Kochi for Denver."
Known facts :
{'intent': 'book', 'budget': '21.3', 'dst_city': 'Denver', 'n_children': '6', 'or_city': 'Kochi', 'n_adults': '2'}

1 - wizard says :
"I have several options available within your budget. How long would you like to travel for? And do you have dates in mind?"
Known facts :
{'intent': 'book', 'budget': '21.3', 'dst_city': 'Denver', 'n_children': '6', 'or_city': 'Kochi', 'n_adults': '2', 'count': 'several options'}

2 - user says :
"I do not have any dates in mind. I would like to spend as much time in Denver as my budget will allow."
Known facts :
{'intent': 'book', 'budget': '21.3', 'dst_city': 'Denver', 'n_children': '6', 'or_city': 'Kochi', 'n_adults': '2', 'count': 'several options', 'max_duration': '$MAX', 'end_date': '-1', 'str_date': '-1'}

3 - wizard says :
"I can book 7 days at a 4.0 star hotel for 19028.93USD. I can also book 7 days at a 3.0 star hotel for 12824.84USD."
Known facts :
{'intent': 'book', 'budget': '21.3', 'dst_city': 'Denver', 'n_children': '6', 'or_city': 'Kochi', 'n_adults': '2', 'count': 'several options', 'max_duration': '$MAX', 'end_date': '-1', 'str_date': '-1', 'duration': '7', 'price': '12824.84', 'category': '3.0'}

4 - user says :
"Do these packages have different departure dates? When would I be leaving for each of them?"
Known facts :
{'intent': 'book', 'budget': '21.3', 'dst_city': 'Denver', 'n_children': '6', 'or_city': 'Kochi', 'n_adults': '2', 'count': 'several options', 'max_duration': '$MAX', 'end_date': '-1', 'str_date': '-1', 'duration': '7', 'price': '12824.84', 'category': '3.0'}

5 - wizard says :
"The 3.0 star trip leaves Kochi August 26 and returns August 31. The 4.0 star leaves August 27 from Kochi and returns September 1."
Known facts :
{'intent': 'book', 'budget': '21.3', 'dst_city': 'Denver', 'n_children': '6', 'or_city': 'Kochi', 'n_adults': '2', 'count': 'several options', 'max_duration': '$MAX', 'end_date': 'august 31', 'str_date': 'august 26', 'duration': '7', 'price': '12824.84', 'category': '3.0'}

6 - user says :
"Ok, I would like to purchase the trip with the 4-star hotel."
Known facts :

In [7]:
if Path(DATA_PATH, "turns.csv").exists():
    turns = pd.read_csv(Path(DATA_PATH, "turns.csv"))

else:
    turns = pd.DataFrame()

    for turn in tqdm(raw_data["turns"]):
        known_facts = {}

        for i, frame in enumerate(turn):
            if frame["author"] == "wizard":
                continue

            turn_dict = {
                "text": frame["text"],
            }

            turn_dict.update(
                {f"old_{key}": value for key, value in known_facts.items()}
            )

            known_facts.update(
                {
                    info_key: info[-1]["val"]
                    if not info[-1]["negated"]
                    else None
                    for f in frame["labels"]["frames"]
                    for info_key, info in f["info"].items()
                }
            )

            turn_dict.update(
                {f"new_{key}": value for key, value in known_facts.items()}
            )

            turns = turns.append(turn_dict, ignore_index=True)

    turns.to_csv(Path(DATA_PATH, "turns.csv"), index=False)

turns

/tmp/ipykernel_94/3724051956.py:2: DtypeWarning:

Columns (61,70,71,76,100,101,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119) have mixed types. Specify dtype option on import or set low_memory=False.

,text,new_intent,new_budget,new_dst_city,new_or_city,new_str_date,new_n_adults,new_NO_RESULT,old_budget,old_dst_city,...,new_count_seat,old_count_seat,new_dst_city_ok,old_dst_city_ok,new_impl_anaphora,old_impl_anaphora,new_end_date_ok,new_str_date_ok,old_end_date_ok,old_str_date_ok
0,I'd like to book a trip to Atlantis from Capri...,book,1700.0,Atlantis,Caprica,august 13,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Yes, how about going to Neverland from Caprica...",book,1900.0,Neverland,Caprica,august 13,5,True,1700.0,Atlantis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I have no flexibility for dates... but I can l...,book,1700.0,Atlantis,Atlantis,august 13,8,True,1900.0,Neverland,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,I suppose I'll speak with my husband to see if...,book,1700.0,Atlantis,Atlantis,august 13,8,True,1700.0,Atlantis,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Hello, I am looking to book a vacation from Go...",book,2100.0,Mos Eisley,Gotham City,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10402,"5 adults and 7 kids! Yup, the lot of us. We wa...",book,32800.0,-1,Tampa,NaN,5,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10403,Oh yes! Between September 12 and 26!,book,32800.0,-1,Tampa,september 12,5,NaN,32800.0,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10404,"That sounds amazing, and it's within those dat...",book,32800.0,Queenstown,Tampa,september 12,5,NaN,32800.0,-1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10405,"Ok perfect, book me!",book,32800.0,Queenstown,Tampa,september 12,5,NaN,32800.0,Queenstown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10406,Thanks!,book,32800.0,Queenstown,Tampa,september 12,5,NaN,32800.0,Queenstown,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
turns.describe(include="all")

,text,new_intent,new_budget,new_dst_city,new_or_city,new_str_date,new_n_adults,new_NO_RESULT,old_budget,old_dst_city,...,new_count_seat,old_count_seat,new_dst_city_ok,old_dst_city_ok,new_impl_anaphora,old_impl_anaphora,new_end_date_ok,new_str_date_ok,old_end_date_ok,old_str_date_ok
count,10407,9362,6229,9631,9620,7430,5570,2665,5255,8307,...,7,6,8,7,5,4,3,3,2,2
unique,9695,1,228,392,339,155,57,1,225,382,...,1,1,1,1,1,1,1,1,1,1
top,Thanks!,book,-1,Punta Cana,-1,-1,1,True,-1,-1,...,two,two,True,True,category,category,True,True,True,True
freq,73,9362,1704,283,174,655,2462,2665,1469,257,...,7,6,8,7,5,4,3,3,2,2

In [12]:
columns = ["text"] + [
    f"{prefix}_{key}"
    for key in ["or_city", "dst_city", "str_date", "end_date", "budget"]
    for prefix in ["old", "new"]
]
df = turns[columns]

df

,text,old_or_city,new_or_city,old_dst_city,new_dst_city,old_str_date,new_str_date,old_end_date,new_end_date,old_budget,new_budget
0,I'd like to book a trip to Atlantis from Capri...,NaN,Caprica,NaN,Atlantis,NaN,august 13,NaN,NaN,NaN,1700.0
1,"Yes, how about going to Neverland from Caprica...",Caprica,Caprica,Atlantis,Neverland,august 13,august 13,NaN,NaN,1700.0,1900.0
2,I have no flexibility for dates... but I can l...,Caprica,Atlantis,Neverland,Atlantis,august 13,august 13,NaN,NaN,1900.0,1700.0
3,I suppose I'll speak with my husband to see if...,Atlantis,Atlantis,Atlantis,Atlantis,august 13,august 13,NaN,NaN,1700.0,1700.0
4,"Hello, I am looking to book a vacation from Go...",NaN,Gotham City,NaN,Mos Eisley,NaN,NaN,NaN,NaN,NaN,2100.0
...,...,...,...,...,...,...,...,...,...,...,...
10402,"5 adults and 7 kids! Yup, the lot of us. We wa...",Tampa,Tampa,-1,-1,NaN,NaN,NaN,NaN,NaN,32800.0
10403,Oh yes! Between September 12 and 26!,Tampa,Tampa,-1,-1,NaN,september 12,NaN,26,32800.0,32800.0
10404,"That sounds amazing, and it's within those dat...",Tampa,Tampa,-1,Queenstown,september 12,september 12,26,26,32800.0,32800.0
10405,"Ok perfect, book me!",Tampa,Tampa,Queenstown,Queenstown,september 12,september 12,26,25,32800.0,32800.0
10406,Thanks!,Tampa,Tampa,Queenstown,Queenstown,september 12,september 12,25,25,32800.0,32800.0

In [18]:
df.describe(include="all")

,text,old_or_city,new_or_city,old_dst_city,new_dst_city,old_str_date,new_str_date,old_end_date,new_end_date,old_budget,new_budget
count,10407,8287,9620,8307,9631,6287,7430,4787,5734,5255,6229
unique,9695,332,339,382,392,151,155,129,131,225,228
top,Thanks!,-1,-1,-1,Punta Cana,-1,-1,-1,-1,-1,-1
freq,73,158,174,257,283,567,655,344,404,1469,1704

In [16]:
## Publish df ProfileReport

report = ProfileReport(
    pd.DataFrame(df),
    title="Dataframe report",
    explorative=True,
    minimal=True,
)
report.to_file(Path("reports/df_report.html"))

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]